
.image-slide-fix {
	object-fit: contain;
}

.image-slide-bottom {
	position: absolute;
	bottom:  0;
	right: 0;
}



img {
  max-width: 100%;
  height: auto;
}

h1  {
	font-family: Helvetica, sans-serif !important; 
	color: rgba(0, 0, 0) !important;
	font-size: 26px !important;
	line-height: 250% !important; 
}

h2  {
	font-family: Helvetica, sans-serif !important; 
	color: rgba(0, 0, 0) !important;
	font-size: 26px !important;
	line-height: 250% !important;

}

h3  {
	font-family: Helvetica, sans-serif !important;
	color: rgba(0, 0, 0) !important;	 
	color: rgba(0,0,0) !important;	
	font-size: 20px !important;
	line-height: 250% !important;

}

.card-title {
	font-family: Helvetica, sans-serif !important;
	font-size: 20px !important; 
	font-weight: bolder;
}


.card-text {
	font-size: 15px;
}

p {
	font-family: Arial, sans-serif !important; 
	color: rgba(0, 0, 0) !important;	
	font-size: 16px !important;
	line-height: 175% !important;
}

li {
	font-family: Arial, sans-serif !important; 
	color: rgba(0, 0, 0) !important;	
	font-size: 17px !important;
	line-height: 175% !important;
}


a {
	font-family: Arial, sans-serif !important; 
	color: rgba(50, 50, 50);	
	font-size: 15px;
}

.card-title-sub {
	font-size: 12px !important;
	font-family: Arial, sans-serif !important; 
	color: rgba(110,110,110,1);
}



.img-invert {
	filter: invert(100%);
}

.font-arial {   
font-family: Arial, Helvetica, sans-serif !important; 
}


footer h5 {
font-size: 15px !important;
}

footer a {
font-size: 15px !important;
}


.card {
	border-radius: 0px;
	border:  0px solid #6e6e6e;
	transition: all 0.5s;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0);
}

.imag-card {
border-radius: 0px;
width: auto;
height: 180px;
object-fit: cover;
transition: all 0.25s;
}

.imag-card:hover {
filter: brightness(80%) contrast(120%) saturate(110%);
transform: scale(1.025);
transition: all 0.25s;
}

.img-logo {
filter: grayscale(0%);

min-width: 130px !important;
min-height: 130px !important;

max-width: 500px !important;
max-height: 130px !important;

margin-top: 10px !important;
margin-left: 5px !important;
margin-right: 5px !important;
}


.linha-vr {
	height: 100px;
	border-left:1px solid #000;
}

.img-logo-mobile {
	min-width: 5px !important;
	min-height: 50px !important;

	max-width: 240px !important;
	max-height: 50px !important;

	margin-top: 10px !important;
	margin-bottom: 10px !important;
	margin-left:  0px;
	margin-right:  0px;
  }


.nav-link {
	color:  #fff !important;
	letter-spacing: 0px;
	padding-left: 15px !important ;
	padding-right: 15px !important ;

}


.div-principal {
	 text-align: left;
	}

.nav-item {
	transition: all 0.25s;
}

.nav-item:hover {
	background-color:  rgba(0,0,0,0.25);
	transition: all 0.25s;
}

.dropdown-item {
	transition: all 0.25s;
	color: rgba(70,50,30) !important;
}

.shadow-inner {
	box-shadow:  inset 0 0 0px #000000 !important;
}

.imagem_topo {
	width: 300px !important;
	height: 300px !important;]
	background-color: red !important;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.imagem-my-card{
min-width: 10px !important;
min-height: 10px !important;

max-width: 200px !important;
max-height: 200px !important;

}

.dropdown-item:hover {
	background-color:  rgba(0,0,0,0.05);
	transition: all 0.25s;
}

.bg-sidebar {
	background-color: rgba(150,110,70,0.95) !important;
}


.nav-blog {
	background-color: rgba(100,70,40,0) !important;
	transition:  all 0.5s;
}

.nav-blog:hover {
	background-color: rgba(70,50,30,0) !important;
	margin-top: 30px;
	transition:  all 0.5s;
}

.blog-header {
position: relative;
z-index: 10;
}

.navbar  {
position: relative;
z-index: 10;
}


.slide_topo-mobile{
	width: 100%;
	height: 300px;
	top: 0%;
	left: 0%;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    animation: slide_topo 10.0s infinite;
    transition: all 2s;
    z-index: -1;
}





.slide_topo{
	width: 85%;
	height: 300px;
	top: 0%;
	left: 7.5%;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    animation: slide_topo 30.0s infinite;
    z-index: 0;
}

@keyframes slide_topo{

    0%{     
    opacity: 1;
    background-image: url("../images/slide_1.jpg"), linear-gradient(180deg, rgba(255,255,255,0.65), rgba(255,255,255,0.75), rgba(255,255,255,0.9), rgba(255,255,255,0.9), #fff);
	background-blend-mode: screen;}

    33.5%{     
    opacity: 1;
    background-image: url("../images/slide_2.jpg"), linear-gradient(180deg,  rgba(255,255,255,0.65), rgba(255,255,255,0.75), rgba(255,255,255,0.9), rgba(255,255,255,0.9), #fff);
	background-blend-mode: screen;}
    
    66.5%{     
    opacity: 1;
    background-image: url("../images/slide_3.jpg"), linear-gradient(180deg,  rgba(255,255,255,0.65), rgba(255,255,255,0.75), rgba(255,255,255,0.9), rgba(255,255,255,0.9), #fff);
	background-blend-mode: screen;}

    100%{     
    opacity: 1;
    background-image: url("../images/slide_1.jpg"), linear-gradient(180deg, rgba(255,255,255,0.65), rgba(255,255,255,0.75), rgba(255,255,255,0.9), rgba(255,255,255,0.9), #fff);
	background-blend-mode: screen;}
     
}


/* ----------------------- PALETA DE CORES --------------------- */

.bg-dark {
	background-color: rgba(60,60,60,1) !important;
}

.text-dark {
	color: rgba(0,0,0,1) !important;
}

.bg-color-1 {
background-color: rgba(217,217,217) !important;
}

.bg-color-2 {
background-color: rgba(100,70,40) !important;
}
.bg-color-2-dark {
background-color: rgba(70,50,30) !important;
}
.text-color-2{
	color: rgba(100,70,40) !important; 
}

.bg-color-3 {
background-color: rgba(75,90,30) !important;	
}
.bg-color-3-dark {
background-color: #303812 !important;	
}
.text-color-3{
	color: rgba(75,90,30) !important;	 
}

.bg-color-4 {
background-color: rgba(120,140,40) !important;	
}

.bg-color-5 {
background-color: rgba(150,190,15) !important;
}

.text-color-6{
	color: rgba(110,110,110) !important;	 
}

/* ----------------------- REPONSIVIDADE --------------------- */

/*MOBILE*/
@media (max-width: 400px) {
  body {
    background-color: #fff;
  }

  .div-principal {
  	width:  100%;

	}
}

/*PC*/
@media (min-width: 800px) {
  body {
    //background-image: url("../images/fundo_BW.jpg");
    background-color: rgba(220,220,220,1);
  	background-blend-mode: lighten;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;

  }

  .div-principal {

	 box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.25);
	 background-color: #fff;
	 width: 85%;
	 padding: 0px;
	}
}